$button-height: 2.8rem;

.button {
  @include ff-body-medium;
  display: flex;
  position: relative;
  color: $devit-white;
  align-items: center;
  border: none;
  box-shadow: 0 5px 10px -5px rgba($devit-black, 0.5);
  cursor: pointer;
  justify-content: center;
  letter-spacing: 0.5px;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  transform: scale(1);
  transition: all 250ms ease-in-out;
  background-color: $devit-orange;
  height: $button-height;

  &.full-width {
    width: 100%;
  }

  &:disabled {
    background-color: $gray-800;
  }

  &.ghost {
    @include transition;
    background-color: transparent;
    border: 2px solid $devit-orange;

    &:hover {
      background-color: $devit-orange;
    }
  }

  & + .button {
    margin-left: 1rem;
  }
}

.button-group {
  @include center;
}