.calendar{
  color: black;
  .events{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    label{
      display: flex;
      flex-direction: row;
      margin-right: 20px;
      color: $gray-200;
      height: 25px;
      font-size: 1rem;
      font-weight: 600;
      
    }
    input{
      display: inline;
      font-size: 1rem;
      padding: 5px;
      background-color: $gray-900;
      border:none;
      color: $devit-white;
    }
    button{
      border-radius: 0px;
      background-color: $devit-orange;
      font-size: 1rem;
      border:none;
      color: $devit-white;
      padding: 5px;
      cursor: pointer;
    }

  }
  .fc{
    background-color: $devit-gray;

    .fc-toolbar-title{
      color: $devit-white
    }
    .fc-list-event-time{
      display: none;
    }
    button:disabled{
      background-color: $gray-600;
    }
    button{
      border-radius: 0px;
      background-color: $devit-orange;
      border: 2px black;
    }
    table{
      .fc-list-event-title{
        color: $devit-white;
      }
      .fc-list-event-title:hover{
        color: $devit-black;
      }
      .fc-list-day-cushion{
        background-color: $gray-700;
        cursor: pointer;
      }
      .fc-list-event.fc-event.fc-event-start.fc-event-end.fc-event-future:hover{
        background-color: $gray-700;
      }
    }
  }


} 