[className="findPostsItem"]{
    background-color: whitesmoke;
}

.search-bar{
    background: $devit-gray;
    width: 100%;
    font-size: 26px;
    vertical-align: middle;
    border: none;
    margin-bottom: 2%;
    color: $devit-white;
    input{
        margin:0;
    }
}

.toggle-container{
    display: flex;
    flex-direction: row;
    h3{
        font-size: 1.6rem;
        align-self: center;
    }
    svg{
        align-self: center;
        cursor: pointer;
    }
    .toggle{
        margin-left: 10px;
    }
    .drop-toggle{
        background-color: $devit-gray;
        color: $devit-white;
        .drop-menu a.drop-item dropdown-item{
            background-color: $devit-gray;
            color: $devit-white;
        }
        border: none;
        border-radius: 0;
    }
    .drop-menu.dropdown-menu.show{
        display: flex;
        flex-direction: column;
        background-color: $gray-700;
        a{
            text-decoration: none;
            color: $devit-white;
            padding: 15px;
            font-size: 1.2rem;
        }
        a:active{
            background-color: $gray-500;
        }
    }

}

#find-projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.findPostsItem {
    background-color: $devit-gray;
    height: 65vh;
    width: 70vh;
    padding: 2rem;
    display: felx;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 20px;

    &:hover {
        cursor: pointer;
    }
}

.find-project-bio {
    margin-left: 35px;
}

.find-project-content {
    margin-left: 35px;
}

.developer__needed.find-project {
    background-color: $devit-gray;
}

.designer__needed.find-project {
    background-color: $devit-gray;
}

#long{
    width: 1055px;
    padding-left: 40px;
    position: relative;
    background-color: #232324;;
  }
  #icon{
    left: -1048px;
    position: relative;
    color: $gray-500;
  }


  .search {
      color: #232324;
  }

  .link {
    text-decoration: none;
  }

  .link:visited {
    color:$devit-white;
}

  .link:active {
    color:$devit-white;
    text-decoration: none;
} 

.link:focus {
    box-shadow: none;
   }