#new-project {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $devit-white;
  padding: 0 3vw;

  button.emoji {
    background-color: $devit-gray;
    margin: 0;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size: 2.5rem;
  }

  .title {
    @include center;
    flex: 1;
  }

  .picker {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      background-color: $devit-gray;
      color: $devit-white;
    }

    ul.skin-tones-list {
      display: none;
    }

    .emoji-picker-react {
      background: $devit-gray;
      box-shadow: none;
      border-color: $devit-orange;
      border-radius: 0;

      .emoji-group:before {
        background: $devit-gray;
      }
      
      .emoji-categories button[class^="icn-"] {
        filter: invert(1);
      }

      input.emoji-search {
        border-color: $devit-orange;
      }
    }
  }

  input.title {
    // height: 80%;
    font-size: 2.5rem;
    margin-left: 1rem;
    background-color: $devit-gray;
  }

  h1 {
    align-self: flex-start;
  }

  textarea {
    background-color: $devit-gray;
  }

  label {
    border-radius: 20px;
    margin-right: 20px;
    padding: 20px;
  }

  .selector {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

    button.add {
      background-color: $devit-gray;
      padding: 20px;
      font-size: 1.2rem;
      border: none;
      border-radius: 50%;
      color: $devit-white;
      width: 70px;
      align-self: flex-start;
     height: 70px;

    }

    p.new {
      background-color: $devit-orange;
      border-radius: 20px;
      margin-right: 20px;
      padding: 20px;
      align-self: flex-start;
    }

    button:hover {
      cursor: pointer;
    }
  }

  .selector-container {
    width: 100%;
    margin-top: 2.5rem;
  }

  .buttons {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
}

.add-ind {
  display: flex;
  align-self: flex-start;
}

input.add {
  background-color: $devit-gray;
  border-radius: 20px;
  margin-right: 20px;
  padding: 20px;
}