.profile {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;

  &__team-actions {
    flex: 1 1 50%;
    margin-right: 1.5rem;
  }

  &__user-profile {
    flex: 1 1 300px;
  }

  &__project {
    $project-border-width: 3px;
    margin-left: $project-border-width;
    background-color: $gray-900;
    box-shadow: -$project-border-width 0 0 0 $devit-orange;
    padding: 1rem;
    margin-bottom: 1rem;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0 $project-border-width $devit-orange;
    }
  }

  &__project-header-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__project-logo {
    font-size: 1.75rem;
    width: 2rem;
    margin-right: 0.5rem;
  }

  &__project-name {
    margin: 0 0 0.5rem;
  }

  &__project-industries {
    @include center;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 2.25rem;
  }

  &__project-industry {
    @extend .projects__project-industry;
    @include center;

    & + .profile__project-industry {
      margin: 0.25rem;
    }

    margin: 0.25rem;
  }

  &__user-image {
    $image-size: 300px;
    @include square-span($image-size);
    border-radius: $image-size;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0 auto;

    &.developer {
    box-shadow: 0 0 0 4px $gray-800, 0 0 0 8px rgba($devit-orange, 1);  

      &.designer {
        box-shadow: 0 0 0 4px $gray-800, 0 0 0 8px rgba($devit-orange, 1), 0 0 0 12px rgba($devit-green, 1); 
      }
    }

    &.designer {
      box-shadow: 0 0 0 4px $gray-800, 0 0 0 8px rgba($devit-green, 1);
    }
  }

  &__user-name {
    text-align: center;
  }

  &__user-location-wrapper {
    display: flex;
    align-items: center;
  }

  &__location-icon {
    margin-right: 0.5rem;
  }

  &__user-location {
    margin: 0 0 0.25rem;
  }
}

@include sm {
  .profile {
    flex-direction: column;

    &__team-actions {
      order: 2;
    }
  
    &__user-profile {
      order: 1;
    }

    &__user-image {
      @include square-span(50vmin);
      border-radius: 50%;
    }
  }
}