.project__logo {
    width: 40px;
    height: 40px;
}

.project__logo img {
    width: 100%;
    height: auto;
}

#project__title__container {
    display: flex;
    align-items: center;
    justify-content: left
}

p {
    margin: 0;
}

h1 {
    margin: 10px;
}

.project__industry__tag {
    background-color: $gray-700;
    padding: 6px;
    display:inline-block;
    margin: 10px;
}

.project__links {
     color: $devit-white; 
     margin: 5px;
    border: 0;
    background-color: $gray-800;
}

.project__links:hover {
    color: $devit-white; 
    text-decoration: none;

}

.designer__needed {
    border: 2px solid red;
    background-color: $gray-800;
    height: 60px;
    border-radius:50%;
    width: 60px;
    margin: 5px;
}

.developer__needed {
    border: 2px solid blue;
    background-color:$gray-800;
    height: 60px;
    border-radius:50%;
    width: 60px;
    margin: 5px;
}

.ideator__needed {
    border: 2px solid green;
    background-color:$gray-800;
    height: 60px;
    border-radius:50%;
    width: 60px;
    margin: 5px;
}

.neededTeam__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.neededTeam__item {
    margin: 10px;
}

.icon {
    margin-top: 5px;
    margin-left: 0;
    margin-right: 2px;
}

#best__practices {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}