$devit-orange: #FF5D08;
$devit-gray: #232323;
$devit-white: #F4F4F4;
$devit-black: #111111;

#profile{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  
    h2{
      color: $devit-white
    }
  
    .left-side{
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .container{
      height: 50%;
    }
    .activity{
      background-color: $devit-gray;
      color: $devit-white
    }
    .project{
      background-color: $devit-gray;
      width: 100%;
      height: 20%;
      border-left: 5px solid $devit-orange;
      display: flex;
      align-items: center;
      margin-top: 20px;
      justify-content: space-evenly;
      h1{
        margin-right: 20px;
      }
      h2{
        margin-right: 20px;
        width: 50%;
      }
      h3{
        background-color: #4c4c4c;
        margin-left: 20px;
        padding-left: 20px;
        padding-right: 20px;
      }
      .descriptions{
        height: 60%;
        width: 70%;
        display: flex;
        justify-content: start;
      }
    }
    .right-side{
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $devit-white;

      .profile-container{
        display:flex;
        flex-direction: column;
        align-items: center;
      }
      h1{
        font-size: 50px;
      }
      
      .location{
        display: flex;
        align-items: center;
        h3{
          margin-left: 10px;
        }
      }
      
      img.profile {
        width:300px;
        height:300px;
        object-fit:cover;
        border-radius:50%; 
        margin: 0 auto;
        padding: 10px;
      }
      img.dev{
        box-shadow:
          inset 0 0 0 5px $devit-orange;
      }
      img.des{
        box-shadow:
        inset 0 0 0 10px #039001;
      }
      img.both{
        box-shadow:
          inset 0 0 0 5px $devit-orange,
          inset 0 0 0 10px #039001;
      }
      .badges-container{
        width: 80%;
        height: 20%;
      }
      .badges{
        height: 40%;
        padding: 10px;
        border: 3px solid $devit-orange;
        display: flex;
        justify-content: flex-start;
        background-color: $devit-black;
      }
  
    }
  }