$sidebar-width: 300px;
$nav-button-padding: 1.25rem;

.sidebar {
  width: $sidebar-width;
  height: calc(100vh - #{$banner-height});
  background-color: $gray-900;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__nav-links {
    @include center;
    align-items: flex-start;
    flex-direction: column;
  }

  &__nav-link {
    @include center;
    @include transition;
    color: $devit-white;
    justify-content: flex-start;
    width: 100%;
    padding: $nav-button-padding;
    position: relative;

    &:focus {
      box-shadow: none;
    }

    &.active::after {
      opacity: 1;
    }

    &:hover, &.active {
      background-color: $devit-black;
    }

    &::after {
      @include transition;
      top: 0;
      left: 0;
      width: 0.25rem;
      height: 100%;
      background-color: $devit-orange;
      opacity: 0;
      transform: scale(1, 1);
    }

    .icon {
      margin-right: 0.5rem;
      color: $devit-white;
    }

    &.active .icon {
      color: $devit-orange;
    }

  }

  &__nav-link-label {
    color: $devit-white;
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  &__expand-collapse {
    @include center;
    @include transition;
    justify-content: space-between;
    padding: $nav-button-padding;

    &:hover {
      background-color: $devit-black;
      cursor: pointer;
    }
  }
}