.sign-up{
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  ul{
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-items: center;
  }
  li {
    list-style: none;
  }
  h2{
    margin-right: 10px;
  }
  h3{
    display: inline;
  }
  input[type="checkbox"]{
    width: 20px;
  }
  input[type="file"]{
    background-color: $devit-gray;
  }
  input{
    background-color: #3B3B3B;
    border:none;
    line-height: 36px;
    width: 200px;
    margin-right: 40px;
    color: $devit-white;
  }
  textarea{
    background-color: #3B3B3B;
    width: 600px;
  }
  button{
    padding: 10px;
    font-size: 1.4rem;
  }
} 