.main-section {
  display: flex;
  height: calc(100vh - #{$banner-height});
  margin-top: $banner-height;
}

.current-page {
  padding: $body-padding; 
  flex: 1;
  overflow-y: scroll;
}

.dark-bg {
  @include center;
  top: $banner-height;
  left: 0;
  position: fixed;
  min-height: 100vh;
  width: 100vw;
  background-color: $gray-900;
  overflow: scroll;
  padding: $body-padding;
}