// Variables
$corner-radius: 0.5rem;
$banner-height: 3rem;
$banner-height-sm: 2.5rem;

// Colors
$devit-orange: #ff5D08;
$devit-gray: #232323;
$devit-white: #f4f4f4;
$devit-black: #111111;
$gray-100: #e1e1e1;
$gray-200: #dadada;
$gray-300: #c7c7c7;
$gray-400: #b5b5b5;
$gray-500: #999;
$gray-600: #6C6C6C;
$gray-700: #4c4c4c;
$gray-800: #3b3b3b;
$gray-900: #232323;