body, html {
    font-family: "Roboto", sans-serif;
    background: #F0F4EF;
    height: 100%;
    color: #0D1821;
    margin: 0;
  }

  nav{
    background-color: #344966;
    a{
      text-decoration: none;
      color: #F0F4EF;
      font-size: 1.5rem;
    }
  }

  li{
    cursor: pointer;
    list-style: none;
  }
  ul{
    width: 100vw;
    display: flex;
    align-content: space-between;
    flex-direction: row;
    padding: 0;

    li{
      padding: 30px;
      
    }
  }

  .active {
    color: #E6AACE;
  }

  h1{
    text-align: center;
  }
  .post-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
  }
  button{
    padding: 20px;
    background-color: #E6AACE;
    color: #344966;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    align-self: center;
  }

  .post{
    height: 400px;
    width: 300px;
    background-color: #BFCC94;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    
    h1{
      color: #344966;
      margin: 0;
    }
    #tags{
      color: #E6AACE;
      background-color: #344966;
    }
    img{
      height: 70%;
      width: 100%;
    }
    svg {
      padding: 5px;
    }
  }

  .new-post{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    h1{
      align-self: center;
    }
    ul{
      flex-direction: column;
    }
    li{
      flex-direction: row;
      align-self: center;
    }
    h2{
      color: #344966;
      margin: 10px;
      display: inline;
    }
    input{
      line-height: 1.5rem;
    }

  }

  .single-post{
    background-color: #BFCC94;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    h1{
      color: #344966;
      margin: 0;
      align-self: center;
      font-size: 2.5rem;
    }
    img{
      max-height: 60vh;
      max-width: 40vw;
      align-self: center;
    }
    p, span{
      align-self: center;
    }
    svg {
      padding: 5px;
    }
    #icons{
      align-self: center;
    }
    input, textarea{
      width: 80vw;
      line-height: 1.2rem;
      align-self: center;
    }
    ul, li{
      list-style-type: disc;
      flex-direction: column;
      padding: 10px;
    }

  }