body, html {
    font-family: "Roboto", sans-serif;
    background: #F0F4EF;
    height: 100%;
    color: #0D1821;
  }

  nav{
    background-color: #344966;
    a{
      text-decoration: none;
      color: #F0F4EF;
      font-size: 1.5rem;
    }
  }

  li{
    cursor: pointer;
    list-style: none;
  }
  ul{
    width: 100vw;
    display: flex;
    align-content: space-between;
    flex-direction: row;
    padding: 0;

    li{
      padding: 30px;
      
    }
  }

  .active {
    color: #E6AACE;
  }

  .post-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
  }

  .post{
    height: 400px;
    width: 300px;
    background-color: #BFCC94;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    
    h1{
      color: #344966;
      margin: 0;
    }
    #tags{
      color: #E6AACE;
    }
    img{
      height: 70%;
      width: 70%;
    }
    svg {
      padding: 5px;
    }
  }